/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

@import "./utils/normalize";
@import "./utils/variables";

@import "./components/global/general";
@import "./components/global/container";
@import "./components/global/button";
@import "./components/global/logo";
@import "./components/global/form-field";
@import "./components/global/section";

@import "./global-components";

