$brandColor1: rgba(232, 111, 84, 1);
$brandColor2: rgba(226, 91, 65, 1);
$color1: black;
$color2: white;
$color3: rgba(14, 14, 14, 1);
$color4: rgba(92, 92, 92, 1);
$color5: rgba(215, 215, 215, 1);
$color6: rgba(17, 17, 17, 0.4);
$color7: rgba(17, 17, 17, 0.7);
$color8: rgba(17, 17, 17, 1);

$accent: $brandColor1;
$accent-hover: $brandColor2;
$main-dark: black;
$main-light: white;
$dark-accent: $color3;
$medium-accent: $color4;
$light-accent: $color5;
$dark-opacity-04: $color6;
$dark-opacity-07: $color7;
$dark-opacity-1: $color8;

$fontFamily1: 'Montserrat', sans-serif;
$fontFamily2: 'Inter', sans-serif;
