.container {
  min-width: calc(320px - 50px);
  max-width: calc(480px - 30px);
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: calc(100% - 30px);
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: calc(1280px - 30px);
    padding: 0;
  }
}
