.section {
    padding-bottom: 60px;

    &__heading {
        display: flex;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 24px;
        color: $color1;
        text-transform: uppercase;
    
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color1;
            align-self: center;
            margin-left: 14px;
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-bottom: 100px;
        
        &__heading {
            font-size: 44px;
            margin-bottom: 60px;
        }
    }
}