<section class="section blog" id="blog">
  <div class="container">
    <h2 class="section__heading">Blog</h2>
    <!-- ----- IMAGES ----- -->
    <ul class="blog__slider list">
      <li class="list__item">
        <img src="./images/blog/image4-desktop-w390-x1.jpg" />
      </li>
      <li class="list__item">
        <img src="./images/blog/image5-desktop-w390-x1.jpg" />
      </li>
      <!-- <li class="list__item">
        <img src="./images/blog/image1-mobile-w136-x1.jpg" />
      </li>
      <li class="list__item">
        <img src="./images/blog/image1-mobile-w136-x1.jpg" />
      </li>
      <li class="list__item">
        <img src="./images/blog/image1-mobile-w136-x1.jpg" />
      </li>
      <li class="list__item">
        <img src="./images/blog/image1-mobile-w136-x1.jpg" />
      </li> -->
    </ul>

    <!-- ----- SLIDER BUTTONS ----- -->
    <div class="slider__buttons">
      <button>&larr;</button>
      <button>&rarr;</button>
    </div>

    <!-- ----- NEWSLETTER ----- -->
    <h3 class="newslette__heading">Follow to our newsletter</h3>
    <button class="newsletter__buttons">Subscribe</button>
  </div>
</section>
