<section class="section blog" id="blog">
  <div class="container">
    <h2 class="section__heading">Blog</h2>
    <!-- ----- IMAGES ----- -->
    <ul class="blog__slider list">
        <li class="list__item">
            <img src="./images/blog/image1-mobile-w136-x1.jpg"
            alt="Slide 1"
            width="136"
            height="181"
            srcset="./images/blog/image1-mobile-w136-x2.jpg 2x" />
        </li>
        <li class="list__item">
            <img src="./images/blog/image2-moblie-w136-x1.jpg"
            alt="Slide 2"
            width="136"
            height="181"
            srcset="./images/blog/image2-moblie-w136-x1.jpg 2x" />
        </li>
        <li class="list__item">
            <img src="./images/blog/image3-mobile-w136-x1.jpg"
            alt="Slide 3"
            width="136"
            height="181"
            srcset="./images/blog/image3-mobile-w136-x2.jpg 2x" />
        </li>
        <li class="list__item">
            <img src="./images/blog/image4-mobile-w136-x1.jpg"
            alt="Slide 4"
            width="136"
            height="181"
            srcset="./images/blog/image4-mobile-w136-x2.jpg 2x" />
        </li>
        <li class="list__item">
            <img src="./images/blog/image5-mobile-w136-x1.jpg"
            alt="Slide 5"
            width="136"
            height="181"
            srcset="./images/blog/image5-mobile-w136-x2.jpg 2x" />
        </li>
        <li class="list__item">
            <img src="./images/blog/image6-mobile-w136-x1.jpg"
            alt="Slide 6"
            width="136"
            height="181"
            srcset="./images/blog/image6-mobile-w136-x2.jpg 2x" />
        </li>
    </ul>

    <!-- ----- SLIDER BUTTONS ----- -->
    <div class="slider__buttons">
      <a href="#">
        <svg class="slider__buttons--btn">
          <use href="./images/blog/svg/arrows.svg#icon-arrow-left"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="slider__buttons--btn">
          <use href="./images/blog/svg/arrows.svg#icon-arrow-right"></use>
        </svg>
      </a>
      <!-- <button>&larr;</button>
      <button>&rarr;</button> -->
    </div>

    <!-- ----- NEWSLETTER ----- -->
    <div class="newsletter-container">
        <h3 class="newsletter__heading">Follow to our newsletter</h3>
        <button class="newsletter__buttons button" type="button" open-blog-newsletter>Subscribe</button>
    </div>

</section>
