<div class="backdrop">
  <div class="contact">
    <h3>Contact us</h3>
    <p>
      If you have any additional questions or you want to clarify something before you make an order
      please fill in your contact details. We will call you back.
    </p>
    <form>
      <label class="form-field" for="name">
        Name
        <input
          class="form-field__text-input"
          type="text"
          id="name"
          name="name"
          placeholder="Your name"
          pattern="[A-Za-z0-9]+"
        />
        <svg class="form-field__correct-state-icon" width="20" height="20">
          <use href="./images/global/svg/text-input-states.svg#correct-state"></use>
        </svg>
        <svg class="form-field__error-state-icon" width="20" height="20">
          <use href="./images/global/svg/text-input-states.svg#error-state"></use>
        </svg>
      </label>
      <label class="form-field" for="email">
        Email
        <input
          class="form-field__text-input"
          type="email"
          id="email"
          name="email"
          placeholder="tanya.hill@example.com"
          pattern="[A-Za-z0-9]+"
        />
        <svg class="form-field__correct-state-icon" width="20" height="20">
          <use href="./images/global/svg/text-input-states.svg#correct-state"></use>
        </svg>
        <svg class="form-field__error-state-icon" width="20" height="20">
          <use href="./images/global/svg/text-input-states.svg#error-state"></use>
        </svg>
      </label>
      <button class="button" type="button">Send</button>
    </form>
  </div>
</div>
