<section class="container delivery">
  <div class="section">
    <h2 class="delivery__title">delivery</h2>

    <ul class="delivery__list">
      <li class="delivery__item">
        <span class="delivery__item-position"
          >Choose your bouquet and make an order on website</span
        >
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </span>
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">
          Wait for the delivery at the selected time or pick up the order from the store
        </span>
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">Make someone happy or enjoy yourself</span>
      </li>
    </ul>
  </div>
</section>
