<section class="delivery container">
  <div class="section">
    <h2 class="delivery__title">delivery</h2>

    <ul class="delivery__list">
      <li class="delivery__item">
        <span class="delivery__item-position"
          >Choose your bouquet and make an order on website</span
        >
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </span>
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">
          Wait for the delivery at the selected time or pick up the order from the store
        </span>
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">Make someone happy or enjoy yourself</span>
      </li>
    </ul>
    <img
      class="delivery__picture delivery__picture-full-width"
      src="/src/images/delivery/image_delivery.jpg"
      srcset="/src/images/delivery/image_delivery2x.jpg"
      alt="flowers"
    />
  </div>
</section>
