<section class="delivery section" id="delivery">
  <div class="container">
    <h2 class="section__heading">delivery</h2>

    <ul class="delivery__list">
      <li class="delivery__item">
        <span class="delivery__item-position"
          >Choose your bouquet and make an order on website</span
        >
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </span>
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">
          Wait for the delivery at the selected time or pick up the order from the store
        </span>
      </li>
      <li class="delivery__item">
        <span class="delivery__item-position">Make someone happy or enjoy yourself</span>
      </li>
    </ul>
  </div>
  <img 
    class="delivery__picture"
    src="/src/images/delivery/image_delivery.jpg" 
    srcset="
      /src/images/delivery/image_delivery.jpg 320w,
      /src/images/delivery/image_delivery2x.jpg 640w,
      /src/images/delivery/image_delivery_tablet.jpg 768w,
      /src/images/delivery/image_delivery_tablet@2x.jpg 1536w,
      /src/images/delivery/image_delivery_desktop.jpg 1280w,
      /src/images/delivery/image_delivery_desktop@2x.jpg 2560w
    "
    sizes="100vw"
    alt="flowers"
  />
</section>
