<footer class="footer">
  <div class="container container--footer">
    <!-- FOOTER LOGO -->
    <!-- <div class="contener-footer-logo">
      <svg class="logo footer__logo" width="73" height="57">
        <use href="/src/images/global/svg/logo.svg#logo"></use>
      </svg>
    </div> -->
    <!-- FOOTER NAVIGATION -->
    <div class="contener-footer-nav">
      <nav class="footer-nav">
        <p class="footer-nav__name">Navigation</p>
        <ul class="footer-nav__list">
          <li class="footer-nav__li">
            <a class="footer-nav__item footer-nav__item--current-link" href="#Anemone">Anemone</a>
          </li>
          <li class="footer-nav__li">
            <a class="footer-nav__item" href="#About us">About us</a>
          </li>
          <li class="footer-nav__li">
            <a class="footer-nav__item" href="#Store">Store</a>
          </li>
          <li class="footer-nav__li">
            <a class="footer-nav__item" href="#Delivery">Delivery</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- FOOTER OPENING TIMES -->
    <div class="contener-footer-openings">
      <p class="footer-openings-name">Opening times</p>
      <ul class="footer-openings-list">
        <li class="footer-openings-list__li"><p class="footer-openings-list__item">Every day</p></li>
        <li class="footer-openings-list__li"><p class="footer-openings-list__item">9:00 - 22:00</p></li>
      </ul>
    </div>
    <!-- FOOTER CONTACT ADDRESS -->
    <div class="contener-footer-address">
      <address class="footer-address">
        <p class="footer-address__name">Contacts</p>
        <ul class="footer-address__list">
          <li class="footer-address__li">
            <a class="footer-address__item address-list__item--soft" href="tel:+380631234567"
              >+38 063 123 45 67</a
            >
          </li>
          <li class="footer-address__li">
            <a class="footer-address__item" href="mailto:anemonestudio@example.com"
              >anemonestudio@example.com</a
            >
          </li>
          <li class="footer-address__li">
            <a
              class="footer-address__item"
              href="https://goo.gl/maps/FScgXBPWEzYuTxry6"
              target="blank"
              rel="noopener nofollow"
            >
              Reitarska Street, 11 Kyiv, Ukraine</a
            >
          </li>
        </ul>
      </address>
    </div>
    <!-- SOCIAL LINKS -->
    <div class="contener-footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-list__li">
          <a class="footer-social-list__item" href="#facebook.com">
            <svg width="28px" height="28px">
              <use href="./images/footer/footer-icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list__li">
          <a class="footer-social-list__item" href="#instagram.com">
            <svg width="28px" height="28px">
              <use href="./images/footer/footer-icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
