<section class="global-components">
  <h1>Komponenty globalne: (w wersji mobilnej)</h1>

  <h3>Element button z klasą css .button</h3>
  <button class="button">Button</button>
  
  <h3>Element svg z klasą .logo</h3>
  <svg class="logo" width="41" height="32">
    <use href="./images/global/svg/logo.svg#logo"></use>
  </svg>
  
  <h3>Element label z klasą .form-field 
    posiadający wewnątrz element input z klasą .form-field__text-input 
    (label.form-field > input.form-field__text-input)</h3>
  <p>Powinien reagować zmianą styli na zgodność wprowadzonych danych</p>
  <form>
    <label class="form-field" for="name">
      Name
      <input 
        class="form-field__text-input" 
        type="text" 
        id="name" 
        name="name" 
        placeholder="Your name"
        pattern="[A-Za-z0-9]+" />
        <svg class="form-field__correct-state-icon" width="20" height="20">
          <use href="./images/global/svg/text-input-states.svg#correct-state"></use>
        </svg>
        <svg class="form-field__error-state-icon" width="20" height="20">
          <use href="./images/global/svg/text-input-states.svg#error-state"></use>
        </svg>
    </label>
  </form>

  <h2> :-) </h2>
</section>