<h3>section z klasą .section</h3>
<section class="global-components section">
  <h3>div z klasą .container</h3>
  <div class="container">
    <h1>Komponenty globalne: (w wersji mobilnej)</h1>
    <p>
      Na tej stronie macie gotowe komponenty w wersji mobilnej do wklejenia do waszych sekcji/zadań.
      Są to komponenty globalne, wspólne
    </p>
    <p>
      Wklejajcie takie elementy jakie tu są (tagi) oraz klasy nadawajcie takie jak tutaj są nadane.
    </p>

    <h3>h2 z klasą .section__heading</h3>
    <h2 class="section__heading">Nagłówek</h2>

    <h3>button z klasą .button</h3>
    <button class="button">Button</button>

    <h3>svg z klasą .logo</h3>
    <svg class="logo" width="41" height="32">
      <use href="./images/global/svg/sprite.svg#logo"></use>
    </svg>

    <h3>
      label z klasą .form-field posiadający wewnątrz input z klasą
      .form-field__text-input
    </h3>
    <p>Powinien reagować zmianą styli na zgodność wprowadzonych danych</p>

    <fieldset class="form-field" for="name">
      <input
        class="form-field__text-input"
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
        pattern="[A-Za-z0-9]+"
      />
      <label class="form-field__label">Name</label>
      <svg class="form-field__correct-state-icon" width="20" height="20">
        <use href="./images/global/svg/sprite.svg#correct-state"></use>
      </svg>
      <svg class="form-field__error-state-icon" width="20" height="20">
        <use href="./images/global/svg/sprite.svg#error-state"></use>
      </svg>
    </fieldset>
  </div>
</section>
