<header class="container navbar">
  <div class="navbar__logo">
    <svg role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="./images/global/svg/logo.svg"></use>
    </svg>
  </div>
  <nav class="navbar__menu">
    <ul class="navbar__menu-list">
      <li><a href="#">Strona Główna</a></li>
      <li><a href="#">O Nas</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </nav>
  <div class="navbar__phone">
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="./images/header/tel.svg"></use>
    </svg>
  </div>
  <button class="navbar__hamburger js-menu-btn" aria-label="Menu">
    <span class="navbar__hamburger-icon"></span>
  </button>
  <div class="navbar__modal js-menu-modal">
    <nav class="navbar__modal-menu">
      <ul class="navbar__modal-menu-list">
        <li><a href="#">Strona Główna</a></li>
        <li><a href="#">O Nas</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
