<header class="navbar">
  <div class="navbar__logo">
    <svg class="" width="45" height="35">
      <use xlink:href="./images/global/svg/logo.svg#logo"></use>
    </svg>
  </div>

  <nav class="navbar__menu">
    <ul class="navbar__menu-list">
      <li><a href="#">Anemone</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Store</a></li>
      <li><a href="#">Delivery</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>

  <div class="navbar__phone">
    <a class="navbar__phone-link" href="tel:+380631234567">
      <svg class="" width="22" height="22">
        <use xlink:href="./images/header/svg/tel.svg#tel"></use>
      </svg>
    </a>
  </div>

  <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>

  <!-- <button class="navbar__hamburger js-menu-btn" aria-label="Menu">
    <span class="navbar__hamburger-icon"></span>
  </button> -->

  <!-- <div class="navbar__modal js-menu-modal">
    <nav class="navbar__modal-menu">
      <ul class="navbar__modal-menu-list">
        <li><a href="#">Strona Główna</a></li>
        <li><a href="#">O Nas</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div> -->
</header>
