<section  id="hero" class="section hero">
  <div class="container hero__container">
    <div class="hero__flex">
      <h2 class="hero__heading">flower<br />studio</h2>

      <div class="hero__picture-container">
        <picture>
          <source
            srcset="
              /src/images/hero/image_home.jpg     390w, 
              /src/images/hero/image_home@2x.jpg  780w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 1200px, 100vw"
          />
          <source
            srcset="
              /src/images/hero/image_home_tablet.jpg    390w,
              /src/images/hero/image_home_tablet@2x.jpg 780w
            "
            media="(min-width: 768px)"
            sizes="(min-width: 768px) 680px, 100vw"
          />
          <img
            src="/src/images/hero/image_home_mobile.jpg"
            srcset="
              /src/images/hero/image_home_mobile.jpg    145w,
              /src/images/hero/image_home_mobile@2x.jpg 272w
            "
            alt="picture of the flower"
          />
        </picture>
      </div>
      <button class="button__shop-now" type="button" hero-open-contact-us>
        <svg class="button__main-icon-mobile">
          <use href="/src/images/global/svg/sprite.svg#icon-btn-mobile"></use>
        </svg>
        <svg class="button__main-icon-tablet">
          <use href="/src/images/global/svg/sprite.svg#icon-btn-tablet"></use>
        </svg>
        <svg class="button__main-icon-desktop">
          <use href="/src/images/global/svg/sprite.svg#icon-Button_main"></use>
        </svg>
      </button>
    </div>
    <h1 class="hero__title">ANEMONE</h1>
  </div>
</section>
