<section class="section">
  <div class="container">
    <ul class="hero__list">
      <li class="hero__list-item">flower<br />studio</li>
      <li class="hero__list-item">
        <img src="/goit-project-01/src/images/hero/image_home.jpg"
            alt="flower picture"
            class="hero__picture"
            srcset="/goit-project-01/src/images/hero/image_home@2x.jpg" />
      </li>
      <li class="hero__list-item">
        <button class=""></button>
      </li>
    </ul>
    <h1 class="hero__title">ANEMONE</h1>
  </div>
</section>
