<section class="container">
  <h2 class="section-heading">Store</h2>
  <ul class="products">
    <li class="products__item">
      <figure class="product-card">
        <img
          class="product-card__image"
          src="./images/store/bouquet3mobile.jpg"
          srcset="./images/store/bouquet3mobile@2x.jpg"
        />
        <figcaption>
          <h3 class="product-card__heading">compliments</h3>
          <p class="product-card__price">from $15</p>
        </figcaption>
      </figure>
    </li>
    <li class="products__item">
      <figure class="product-card">
        <img
          class="product-card__image"
          src="./images/store/bouquet1mobile.jpg"
          srcset="./images/store/bouquet1mobile@2x.jpg"
        />
        <figcaption>
          <h3 class="product-card__heading">bouquets size S</h3>
          <p class="product-card__price">from $25</p>
        </figcaption>
      </figure>
    </li>
    <li class="products__item">
      <figure class="product-card">
        <img
          class="product-card__image"
          src="./images/store/bouquet2mobile.jpg"
          srcset="./images/store/bouquet2mobile@2x.jpg"
        />
        <figcaption>
          <h3 class="product-card__heading">bouquets size M</h3>
          <p class="product-card__price">from $45</p>
        </figcaption>
      </figure>
    </li>
    <li class="products__item">
      <figure class="product-card">
        <img
          class="product-card__image"
          src="./images/store/bouquet4mobile.jpg"
          srcset="./images/store/bouquet4mobile@2x.jpg"
        />
        <figcaption>
          <h3 class="product-card__heading">bouquets size L</h3>
          <p class="product-card__price">from $60</p>
        </figcaption>
      </figure>
    </li>
  </ul>
  <button class="button store__button" type="button">Order flowers</button>
</section>
