<section class="section" id="store">
  <div class="container">
    <h2 class="section__heading">Store</h2>
    <ul class="products">
      <li class="products__item">
        <figure class="product-card">
          <picture>
            <source
              srcset="./images/store/bouquet3desktop.jpg, ./images/store/bouquet3desktop@2x.jpg 2x"
              media="(min-width: 1280px)"
              sizes="600px"
            />
            <source
              srcset="./images/store/bouquet3tablet.jpg, ./images/store/bouquet3tablet@2x.jpg 2x"
              media="(min-width: 768px)"
              sizes="344px"
            />

            <img
              class="product-card__image"
              src="./images/store/bouquet3mobile.jpg"
              srcset="./images/store/bouquet3mobile@2x.jpg 2x"
              alt="stock flower image"
            />
          </picture>
          <figcaption>
            <h3 class="product-card__heading">compliments</h3>
            <p class="product-card__price">from $15</p>
          </figcaption>
        </figure>
      </li>
      <li class="products__item">
        <figure class="product-card">
          <picture>
            <source
              srcset="./images/store/bouquet1desktop.jpg, ./images/store/bouquet1desktop@2x.jpg 2x"
              media="(min-width: 1280px)"
              sizes="600px"
            />
            <source
              srcset="./images/store/bouquet1tablet.jpg, ./images/store/bouquet1tablet@2x.jpg 2x"
              media="(min-width: 768px)"
              sizes="344px"
            />

            <img
              class="product-card__image"
              src="./images/store/bouquet1mobile.jpg"
              srcset="./images/store/bouquet1mobile@2x.jpg 2x"
              alt="stock flower image"
            />
          </picture>
          <figcaption>
            <h3 class="product-card__heading">bouquets size S</h3>
            <p class="product-card__price">from $25</p>
          </figcaption>
        </figure>
      </li>
      <li class="products__item">
        <figure class="product-card">
          <picture>
            <source
              srcset="./images/store/bouquet2desktop.jpg, ./images/store/bouquet2desktop@2x.jpg 2x"
              media="(min-width: 1280px)"
              sizes="600px"
            />
            <source
              srcset="./images/store/bouquet2tablet.jpg, ./images/store/bouquet2tablet@2x.jpg 2x"
              media="(min-width: 768px)"
              sizes="344px"
            />

            <img
              class="product-card__image"
              srcset="./images/store/bouquet2mobile@2x.jpg 2x"
              src="./images/store/bouquet2mobile.jpg"
              alt="stock flower image"
            />
          </picture>
          <figcaption>
            <h3 class="product-card__heading">bouquets size M</h3>
            <p class="product-card__price">from $45</p>
          </figcaption>
        </figure>
      </li>
      <li class="products__item">
        <figure class="product-card">
          <picture>
            <source
              srcset="./images/store/bouquet4desktop.jpg, ./images/store/bouquet4desktop@2x.jpg 2x"
              media="(min-width: 1280px)"
              sizes="600px"
            />
            <source
              srcset="./images/store/bouquet4tablet.jpg, ./images/store/bouquet4tablet@2x.jpg 2x"
              media="(min-width: 768px)"
              sizes="344px"
            />

            <img
              class="product-card__image"
              src="./images/store/bouquet4mobile.jpg"
              srcset="./images/store/bouquet4mobile@2x.jpg 2x"
              alt="stock flower image"
            />
          </picture>
          <figcaption>
            <h3 class="product-card__heading">bouquets size L</h3>
            <p class="product-card__price">from $60</p>
          </figcaption>
        </figure>
      </li>
    </ul>
    <button class="button store__button" type="button" store-open-contact-us>Order flowers</button>
  </div>
</section>
