<div class="backdrop is-hidden" thank-you-modal>
  <div class="thank-you">
    <button class="close-btn" type="button" close-thank-you>&#10005;</button>
    <picture>
      <source
        srcset="./images/thank-you/thanku.png, ./images/thank-you/thanku@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        class="thank-you__image"
        src="./images/thank-you/thankumobile.png"
        srcset="./images/thank-you/thankumobile@2x.png 2x"
        alt="stock flower draw"
      />
    </picture>
    <h3 class="thank-you__heading">Thank you!</h3>
    <p class="thank-you__description">
      We have received your contact details and will reach you soon.
    </p>
    <button class="button contact__button" type="submit" continue>Continue</button>
  </div>
</div>
