.blog {
  display: flex;
  justify-content: center;
}

// <!-- ----- SLIDER IMAGES ----- -->
.slider {
  position: relative;
  overflow: hidden;

  .slider__wrapper {
    display: flex;
    transition: transform 0.5s ease;
    gap: 16px;

    .slider__item {
      &:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 767px) {
        width: 136px;
        // width: calc(100% / 2 - 16px);
        height: 181px;
      }

      @media (min-width: 768px) {
        width: 344px;
        // width: calc(100% / 3 - 32px);
        height: 398px;
      }

      @media (min-width: 1024px) {
        width: 390px;
        // width: calc(100% / 3 - 32px);
        height: 421px;
      }
    }
  }
  //   <!-- ----- SLIDER BUTTONS ----- -->
  .slider__buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;

    .slider__button {
      width: 61px;
      height: 61px;
      display: inline-block;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        fill: $brandColor2;
      }
    }

    .slider__button--prev {
      opacity: 1;
      visibility: visible;
    }

    .slider__button--next {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    .slider__button--prev {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.2s ease;
    }

    .slider__slider__button--next {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.2s ease;
    }

    .slider__wrapper {
      animation: slide 10s infinite;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(-75%);
    }

    100% {
      transform: translateX(-100%);
    }

    /*
    0% {
    transform: translateX(0);
    }

    25% {
      transform: translateX(50%);
    }

    50% {
      transform: translateX(75%);
    }

    100% {
      transform: translateX(100%);
    }
    */
  }
}

// <!-- ----- NEWSLETTER ----- -->
.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter__heading {
}

.newsletter__buttons {
}
