.delivery {
  &__list {
    list-style: none;
    counter-reset: li-counter;
    padding-left: 0;
    margin-bottom: 26px;
  }
  &__item {
    counter-increment: li-counter;
    margin-bottom: 15px;
    display: table;
    font-weight: 500;
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    &-position {
      padding: 0 8px 6px 8px;
      display: table-cell;
      line-height: 17px;

      @media screen and (min-width: 768px) {
        padding: 0 20px 3px 20px;
        line-height: 29px;
      }
    }
  }
  &__item::before {
    display: inline-block;
    content: counter(li-counter);
    vertical-align: top;
    text-align: center;
    width: 40px;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 50px;
  }
}
.section__heading {
  @media screen and (min-width: 768px) {
    font-size: 44px;
  }
}
.container {
  margin: 0 24px;
}
