.delivery {
  &__list {
    list-style: none;
    counter-reset: li-counter;
    padding-left: 0;
    margin-bottom: 26px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 60px;
      padding: 0 80px;
    }
  }

  &__item {
    counter-increment: li-counter;
    margin-bottom: 15px;
    display: table;
    font-weight: 500;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @media (min-width: 1280px) {
      font-size: 32px;
      margin-bottom: 32px;
    }

    &-position {
      padding: 0 8px 6px 8px;
      display: table-cell;
      line-height: 17px;
      vertical-align: middle;

      @media screen and (min-width: 768px) {
        padding: 0 20px 3px 20px;
        line-height: 29px;
      }
      @media (min-width: 1280px) {
        padding-left: 56px;
        line-height: 39px;
      }
    }
  }

  &__item::before {
    display: inline-block;
    content: counter(li-counter);
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 50px;

    @media (min-width: 1280px) {
      width: 64px;
      height: 64px;
      font-size: 26px;
      padding-top: 10px;
    }
  }
}
