.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 16px 0 0 0;

  @media screen and (min-width: 768px) {
    margin: 24px 0 0 0;
  }

  @media screen and (min-width: 1024px) {
    margin: 28px 0 0 0;
  }
}

// <!-- MENU LOGO -->
.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo--icon {
  width: 45px;
  height: 35px;

  @media screen and (min-width: 768px) {
    width: 72px;
    height: 57px;
  }
}

// <!-- MENU LINKS -->
.navbar__menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
}

.navbar__menu-list {
  display: inline;
}

.navbar__menu-link {
  text-decoration: none;
  color: $color1;
  font-size: 1.25em;
  line-height: 1.5em;
}

// <!-- MENU ITEMS -->
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

// <!-- menu icons -->

.navbar__phone--icon {
  width: 22px;
  height: 22px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: 1024px) {
    width: 28px;
    height: 28px;
  }
}

// <!-- menu buttons -->
.menu-toggle {
  margin: 0;
  padding: 0 0 0 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  @media (min-width: 768px) {
    display: none;
  }
}
.navbar__button--open-icon {
  width: 24px;
  height: 24px;
}

// <!-- MOBILE MODAL -->
.navbar__modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: $brandColor1;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__modal.is-open {
  transform: translateX(0);
}

// <!-- MOBILE MODAL MENU BUTTONS -->
.navbar__modal .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: $color2;
}

.navbar__button--close-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

// <!-- MOBILE MODAL MENU LINKS -->
.navbar__mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar__mobile-menu--link {
  display: block;
  margin: 0 0 26px 0;
  color: $color2;

  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.5em;
}
