/* ---------------------- Navbar ---------------------- */

/* Navbar Container */
.navbar {
  position: relative;
  //   height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color2;
  //   padding: 0 20px;
  padding: 16px 16px 0 16px;

  /* Mobile Styling */
  @media screen and (min-width: 768px) {
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 16px 16px 0 16px;
  }
}

/* Logo */
.navbar__logo {
  svg {
    height: 100%;
    width: 100%;
  }

  /* Mobile Styling */
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

/* Menu */
.navbar__menu {
  display: none;

  /* Mobile Styling */
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 20px;
  }
}

.navbar__menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
      color: $color1;
      font-weight: bold;
      padding: 10px 0;

      &:hover {
        color: $brandColor1;
      }
    }
  }
}

/* ------ Modal for mobile menu ------*/

.navbar__modal {
  display: none;
  position: fixed;
  inset: 0;
  color: $color2;
  background-color: $brandColor1;
  z-index: 1;
  text-align: right;
}

// .navbar__modal-menu{
//     display: flex;
// }

.navbar__modal-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__modal-menu-list .navbar__modal-menu-link {
  text-decoration: none;
}

.menu-toggle {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.is-open {
  display: block;
}

.navbar__close-icon {
  fill: black;
}
