.hero {
    z-index: -1;
  position: relative;
  margin-bottom: 136px;
  &__header {
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.1em;
    margin-right: 0.875em;
  }
  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  &__picture {
    border-radius: 226px;
    width: 145px;
    height: 274px;
    object-position: 60%;
    object-fit: cover;
  }
  &__title {
    font-size: 52px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 73%;
    left: 15%;
  }
}

.button__shop-now {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
  }
 .button__main-icon {
    width: 76px;
    height: 76px;
  }

