.close-btn {
  position: fixed;
  top: 0.875em;
  right: 0.875em;
  font-weight: 700;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;

  @media (min-width: 768px) {
    top: 1.5em;
    right: 1.5em;
    width: 24px;
    height: 24px;
  }
}

.newsletter {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 380px;
  background-color: $color2;

  &__item {
    height: 100%;
    max-height: 121px;
    margin: 0 0 1.125em 0;
  }

  &__heading {
    margin: 0 0 18px 0;
    padding: 0 16px;
    font-size: 1.175em;
    font-weight: 600;
    line-height: 1.4375em;
    text-align: center;
  }

  &__description {
    margin: 0 0 18px 0;
    padding: 0 16px;
    font-size: 0.75em;
    color: #5c5c5c;
    padding: 0 18px;
    text-align: center;
    line-height: 1em;
  }

  @media (min-width: 768px) {
    width: 588px;
    height: 644px;

    &__item {
      height: 100%;
      max-height: 271px;
      margin: 0 0 28px 0;
    }

    &__heading {
      margin: 0 0 24px 0;
      padding: 0 118px;
      font-size: 1.72em;
      line-height: 34px;
    }

    &__description {
      margin: 0 0 32px 0;
      padding: 0 126px;
      font-size: 1em;
      line-height: 21px;
    }
  }

  @media (min-width: 1280px) {
    width: 860px;
    height: 528px;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &__item {
      display: flex;
      width: 100%;
      max-height: 100%;
    }

    &__heading {
      margin: 111px 0 24px 0;
      padding: 0 40px;
      font-size: 1.75em;
      line-height: 34px;
    }

    &__description {
      margin: 0 0 32px 0;
      padding: 0 48px;
      font-size: 1em;
      line-height: 21px;
    }
  }
}

.newsletter__form-field {
  padding: 17px 16px;
  font-size: 10px;

  @media (min-width: 768px) {
    padding: 25px 115px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: 1280px) {
    padding: 23px 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

.submit__button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 8px;

  @media (min-width: 768px) {
    margin-top: 28px;
    padding: 14px 0;
    font-size: 18px;
  }

  @media (min-width: 1280px) {
    margin-top: 28px;
    padding: 15px 126px;
    font-size: 18px;
    line-height: 22px;
  }
}

.newsletter {
  .contact__correct-state-icon,
  .contact__error-state-icon {
    right: 30px;
    bottom: 78px;
  
    @media (min-width: 768px) {
      right: 131px;
      bottom: 125px;
    }
    @media (min-width: 1280px) {
      right: 63px;
      bottom: 126px;
    }
  }
}
