.products {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  &__item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

.product-card {
  margin: 0;

  &__image {
    width: 100%;
  }

  &__heading {
    margin: 12px 0 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
  }

  &__price {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    opacity: 0.6;
  }
}

.store__button {
  display: block;
  margin: 32px auto 0;
}

@media (min-width: 768px) {
  .products {
    row-gap: 40px;
    column-gap: 32px;

    &__item {
      flex-basis: calc((100% - 32px) / 2);
    }
  }

  .product-card {
    &__heading {
      margin: 16px 0 8px;
      font-size: 32px;
      display: flex;
      gap: 8px;

      &::after {
        content: '';
        display: inline;
        width: 100%;
        height: 1px;
        background-color: $color1;
        align-self: center;
        flex-shrink: 20000;
      }
    }
    &__price {
      font-size: 24px;
    }
  }

  .store__button {
    display: block;
    margin: 60px auto 0;
  }
}

@media (min-width: 1280px) {
  .products {
    row-gap: 64px;
    column-gap: 32px;
  }
  .product-card {
    max-width: 600px;

    &__heading {
      margin: 16px 0 4px;
      font-size: 36px;
      gap: 16px;
    }
    &__price {
      font-size: 28px;
    }
  }
}
