.thank-you {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 16px;
  width: 272px;
  background-color: $color2;

  &__image {
    display: block;
    margin: 12px auto 16px;
    width: 188px;
  }

  &__heading {
    margin: 0 auto 14px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
  }

  &__description {
    font-size: 12px;
    font-weight: 500;
    color: #5c5c5c;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .thank-you {
    padding: 54px 32px;
    width: 480px;

    &__image {
      margin: 0 auto;
      width: 367px;
    }

    &__heading {
      margin: 16px auto;
      font-size: 32px;
    }

    &__description {
      font-size: 16px;
    }
  }
}
